body{background:#7ce6d9;}
h1{color: #15315e; font-family: sans-serif; font-size: 40pt;}
p{color: #308c5c; font-family:cursive; font-size:15pt; }
img{border-style: double; border-width: 5pt; border-color: #26237a;}
img:hover{color: blue;}
a{color: #308c5c; font-family:cursive; font-size:15pt; text-decoration:none; }
a:hover{color: #23bbbb;}
ol{list-style-type: font-family: sans-serif; font-size: 12pt;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}